# Importing necessary libraries

In [1]:
from sklearn.datasets import fetch_california_housing
import numpy as np

In [2]:
data = fetch_california_housing(as_frame=True)
# We separate the data part: the labels of the target variable
X, y = data.data, data.target

In [3]:
# Explore the data
X.head(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [4]:
y.head(5)

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: MedHouseVal, dtype: float64

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

$$
\mathrm{RMSE}(X, y, h) \;=\; \sqrt{\frac{1}{m} \sum_{i=1}^{m} \left( h\left(x^{(i)}\right) - y^{(i)} \right)^2}
$$

In [ ]:
def rmse(X, y, h):
    m = len(y)
    error_sum = 0

    for i in range(m): 
        y_pred = h(X[i]) # 4.528 - 4.52 = 0.008
        error_sum += (y_pred - y[i]) ** 2 # (0.008) ** 2 = 0.000064

    return np.sqrt(error_sum / m) # sqrt(0.000064 / m)

$$
\mathrm{MAE}(X, y, h) \;=\; \frac{1}{m} \sum_{i=1}^{m} \left| h\left(x^{(i)}\right) - y^{(i)} \right|
$$

In [ ]:
def mae (X, y, h):
    m = len(y)
    error_sum = 0

    for i in range(m):
        y_pred = h(X[i]) # 4.528
        error_sum += abs(y_pred - y[i]) # abs(4.528 - 4.52) = 0.008

        return error_sum / m # 0.008 / m

In [ ]:
X.iloc[[0]]